In [1]:
import os
import csv
import pandas as pd

In [2]:
budget_data = pd.read_csv("C:/Users/ninad/Downloads/U OF T_Module Challange/Python_Challange/Starter_Code/PyBank/Resources/budget_data.csv")
budget_data

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
# This line is to Print Title as an Financial Analysis
print("Financial Analysis\n-------------------------")
# We are using nunique function to find total months of budget Data in this next line of Code
Total_Months = budget_data["Date"].nunique()
# Print result of Total Months
print("Total_Months:" , Total_Months)
# Defining Symbol as a String to display $ in amount,profits and losses
currency_symbol ="$"
# Summing collumn named as Profit/Losses from Budgget Data CSV file to find  Total
Profit_Loss = budget_data["Profit/Losses"].sum()
# Print total as a Profit
print("Total: $",Profit_Loss)
# Max Profit Variable will store result for Average Change. This is done by using differentiation and mean function
Max_profit=budget_data["Profit/Losses"].diff().mean().round(2)
# Printing Average Change happend in Budget Data
print("Average Change:",f"{currency_symbol}{Max_profit}")
# Finding maximum increase in budget data
increase_profit=budget_data["Profit/Losses"].diff().max()
increase_profit_n= budget_data.loc[budget_data["Profit/Losses"].diff() == increase_profit, "Date"].values[0]
# Printing Greatest Increase in Budget Data
print("Greatest increase in Profits :",increase_profit_n,f"{currency_symbol}{increase_profit}")
# Finding maximum Decrease in budget data
Decrease_profit=budget_data["Profit/Losses"].diff().min()
Decrease_profit_n= budget_data.loc[budget_data["Profit/Losses"].diff() == Decrease_profit, "Date"].values[0]
# Printing Greatest Decrease in Budget Data
print("Greatest Decrease in Profits :",Decrease_profit_n,f"{currency_symbol}{Decrease_profit}")

Financial Analysis
-------------------------
Total_Months: 86
Total: $ 22564198
Average Change: $-8311.11
Greatest increase in Profits : Aug-16 $1862002.0
Greatest Decrease in Profits : Feb-14 $-1825558.0